.lead {
    line-height: 1.6rem;
}

.linkedin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
        color:rgb(0, 115, 86);
    }
    a:visited {
        color:rgb(0, 79, 59);
    }
    a:hover {
        color:rgb(17, 118, 93);
    }
}

.linkedin_logo {
    width: 24px;
    height: auto;
}